<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>MediscreenUI - Patient Details</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>

<!-- Navigation menu -->
<div th:replace="fragments/header :: header"></div>


<main>
<div class="container">

    <h2 class="my-3 text-center">Patient Details</h2>

    <p class="text-right"><a href="/patient/list" class="btn btn-info btn-sm"> << Back to patients list</a></p>

        <table class="table table-bordered table-responsive-x1">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Last name</th>
                    <th scope="col">First name</th>
                    <th scope="col" class="text-center">Date of birth</th>
                    <th scope="col" class="text-center">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col" class="text-center">Phone</th>
                    <th scope="col" class="text-center">Notes / Assessment</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Show details of patient to the table -->
                <tr>
                    <th scope="row" th:text="${patient.id}"></th>
                    <td th:text="${patient.lastName}"></td>
                    <td th:text="${patient.firstName}"></td>
                    <td th:text="${patient.dateOfBirth}" class="text-center"></td>
                    <td th:text="${patient.gender}" class="text-center"></td>
                    <td th:text="${patient.address}"></td>
                    <td th:text="${patient.phoneNumber}" class="text-center"></td>
                    <td class="text-center">
                        <a th:href="@{/notes/list/{id}(id=${patient.id})}" class="btn btn-info btn-sm m-1">See Notes</a>
                        <a th:href="@{/assess/{id}(id=${patient.id})}" class="btn btn-info btn-sm m-1">See Report</a>
                    </td>
                    <td class="text-center">
                        <a th:href="@{/patient/update/{id}(id=${patient.id})}" class="btn btn-info btn-sm m-1">Edit</a>
                        <a th:href="@{/patient/delete/{id}(id=${patient.id})}" class="btn btn-info btn-sm m-1">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>

</div>

</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>