<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>MediscreenUI - Error 500</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<!-- Main content -->
<main>
  <div class="alert alert-secondary text-center w-50 mx-auto my-5" role="alert">
    <h2 class="alert-heading">500 - Internal Server Error</h2>
    <hr>
    <p class="mb-0">Sorry, the server encountered an internal error or misconfiguration and was unable to complete your request.</p>
  </div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
