<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>MediscreenUI - Notes</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

<!-- Header with Navigation menu -->
<div th:replace="fragments/header :: header"></div>

<main>
  <div class="container">

    <h2 class="my-3 text-center">Notes of all patients</h2>

    <div class="row">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Id</th>
          <th>PatientId</th>
          <th>Date of creation</th>
          <th>Date of modification</th>
          <th>Content of the note</th>
          <!--<th class="text-center">Actions</th>-->
        </tr>
        </thead>
        <tbody>
        <tr th:if="${notes.empty}">
          <td colspan="6">No note yet</td>
        </tr>
        <tr th:each="note : ${notes}">
          <td th:text="${note.id}"></td>
          <td th:text="${note.patientId}"></td>
          <td th:text="${note.dateOfCreation}"></td>
          <td th:text="${note.dateOfModification}"></td>
          <td>
            <textarea th:text="${note.content}"></textarea>
          </td>
          <!--<td style="width: 20%" class="text-center">
            <a th:href="@{/notes/update/{id}(id=${note.id})}" class="btn btn-info btn-sm">Edit</a>
            <a th:href="@{/notes/delete/{id}/{patientId}(id=${note.id}, patientId=${patientId})}" class="btn btn-info btn-sm">Delete</a>
          </td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
