<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no" />
  <title>MediscreenUI - Update patient's note</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body>

<!-- Navigation menu-->
<div th:replace="fragments/header :: header"></div>

<!-- Main content -->
<main>
<div class="container">

  <h2 class="my-3 text-center">Update Note</h2>

  <div class="my-3 p-3">
    <!-- Form to edit the values of Note, there are 2 buttons: Update data and Cancel to the Note list of the Patient -->
    <form action="#" th:action="@{/notes/update/{id}(id=${noteDto.id})}" th:object="${noteDto}" method="post" class="form-horizontal w-100">

      <input type="hidden" th:field="*{patientId}" id="patientId">

      <!-- Note content -->
      <div class="form-group row">
        <label for="content" class="col-sm-2 col-form-label">Note (required) :</label>
        <div class="col-sm-10">
          <textarea th:field="*{content}" id="content" placeholder="My practitioner's note or recommendation" class="form-control" rows="10"></textarea>
          <p class="text-danger" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
        </div>
      </div>

      <!-- Buttons validate /cancel -->
      <div class="text-center pt-3">
        <input type="hidden" th:field="*{id}">
        <a class="btn btn-danger btn-sm mr-3" th:href="@{/notes/list/{id}(id=${noteDto.patientId})}">Cancel</a>
        <input class="btn btn-info btn-sm" type="submit" value="Update Note">
      </div>
    </form>
  </div>
</div>
</main>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</body>
</html>
